@import "tailwindcss";

@import "line-awesome/dist/line-awesome/css/line-awesome.min.css";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

/* Vos styles personnalisés */

body {
    font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background-color: rgb(30, 30, 240);
    border-radius: 20px;
}

[x-cloak] {
    display: none !important;
}
